.categories {
    @include make-row();
    margin: auto;
    width: 350px;
    padding-top: 16px;
    .category-item {
        @include make-col(6);
        border: 3px white solid;
        border-radius: 5px;
        margin: 0;
        padding-top: 44%;
        position: relative;
        color: $light;
        border-top: none;
        border-left: none;
        &-content {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            text-align: center;
            padding-top: 26%;
            p {
                color: white;
                text-transform: uppercase;
                font-family: $font1;
                text-decoration: none;
                margin-top: 0.25em;
            }
            i {
                font-size: 2em;
                color: white;
            }
        }
    }
}

.category-item:nth-child(1) {
    background-image: url(assets/accomodation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.category-item:nth-child(2) {
    background-image: url(assets/transport.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.category-item:nth-child(3) {
    background-image: url(assets/sights.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.category-item:nth-child(4) {
    background-image: url(assets/accomodation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.category-item:nth-child(5) {
    background-image: url(assets/sights.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.category-item:nth-child(6) {
    background-image: url(assets/transport.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

//Search List
.search-results-container {
    // border: black solid 1px;
    border-radius: 6px;
    width: 100%;
    position: absolute;
    top: 100%;
    height: auto;
    background-color: white;
    // padding-bottom: 70px;
    transition: all 1s;
}

.hide {
    display: none;
}

.open {
    top: 0;
    height:auto;
}

.no-overflow {
    overflow: hidden;
}

.overflow {
    overflow: visible !important;
}

.close {
    top: 0vh;
    height:0;
}

.categories {
    overflow: visible !important
}

.search-results {
    // height:500px;
    width: 90%;
    margin: 1em auto; // bottom: 100%; 
    // border:red solid 1px;
    .search-item {
        height: 150px;
        width: 100%;
        background-color: #fff;
        border-radius: 2px;
        display: flex;
        box-shadow: 1px 1px 1px 1px grey;
        margin-top: 1em;
    }
}

.search-img {
    height: 100%;
    width: 60%; // border: black solid 1px;
}

.search-details {
    padding: 0.8em;
    width: 100%; // border: black solid 1px;
}

.search-results {
    .arrow {
        width: 30px;
        margin: auto;
        i {
            font-size: 2.7em;
            color: $secondary;
        }
    }
}