.categories {
    @include make-row();
    margin:0;
   
    .category-item {
        @include make-col(6);
        border: 1px red solid;
        margin:0;
        padding-top:50%;
        position: relative;

        &-content{
        	position: absolute;
        	width:100%;
        	height: 100%;
        	top:0;
        	left: 0;
        	background-color: rgba(0,0,0,0.1);

        }
    }
}