.categories {
    @include make-row();
    margin: 0;

    .category-item {
        @include make-col(6);
        border: thin $secondary solid;
        margin: 0;
        padding-top: 42%;
        position: relative;
        background-color: $dark;
        color:$secondary;
        &-content {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.1);
            color: $secondary;
            text-transform: uppercase;
            text-align: center;
            padding-top: 15%;
            font-family: $font1;
            i{
                font-size: 4em;
            }
        }
    }
}