.categories {
    @include make-row();
    margin: 0;
    width: 100%;

    .category-item {
        @include make-col(6);
        border: thin $light solid;
        margin: 0;
        padding-top: 42%;
        position: relative;
        // background-color: $dark;
        color:$light;
        border-top: none;
        border-left: none;
        &-content {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            // background-color: rgba(0, 0, 0, 0.1);
            text-align: center;
            padding-top: 15%;
            p{
                color: $light;
                text-transform: uppercase;   
                font-family: $font1;
                text-decoration: none;
            }
            i{
                font-size: 4em;
            }
        }
    }
}