//colours
// $lightpink: #ffcbc1;
// $darkpink: #f282e3;
// $lightblue: #b0f2c0;
// $darkblue: #39bcfd;
// $lightpurple: #a07efe;
// $darkpurple:#4e63fe;
// $light: #FFFFFF;
// $dark: #343332;

$pink: #d03960;
$purple: #4f59af;
$blue: #2fb0c4;
$lightblue: #40d0d3;
$orange: #fb914b;
$yellow: #fdb930;
$dark: #595e64;
$light: #f9fafc;

//fonts
$font1: 'Montserrat', sans-serif;
$font2: 'Open Sans', sans-serif;