//colours
$primary: #494E6B;
$secondary: #985E6D;
$light: #98878F;
$dark: #192231;
$ydaGrey: black;
$ydaPink: pink;
$ydaMint: green;

//fonts
$font1: 'Montserrat', sans-serif;
$font2: 'Open Sans', sans-serif;

$primaryFont: 'Arial';
$secondaryFont: 'Arial';

