.header {
    height: 4.5em;
    background: transparent;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
    position: fixed;
    top:0;
    left:0;
    z-index:30;
    pointer-events:none;

    .header-logo img{
        width: 30px;
        height:auto;
        margin: auto;
    }
}