body{
    // background-color: $dark
}

.header {
    height: 4.5em;
    background: transparent;
    // background-color: $dark;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
    position: fixed;
    top:0;
    left:0;
    z-index:30;

    .header-logo img{
        width: 30px;
        height:auto;
        margin: auto;
    }
}



// .header-search input[type=text]:focus {
//     outline: none;
// }

// .header-search input[type=text] {
//     display: block;
//     border: #fff solid;
//     flex: 0 0 70%;
//     line-height: 25px;
//     font-size: 18px;
//     padding-left: 0.2em;
// }

// .header-search {
//     display: flex;
//     margin: auto;
//     margin-top: 10px;
//     background-color: white;
//     border-radius: 3px;
//     width: 90%;
//     padding: 3px;
//     a>i {
//         font-size: 27px;
//         margin: 2px;
//         color: $gray-600;
//     }
// }