.header {
    height: 100px;
    background-color: white;
    width: 100%;
    box-shadow: 5px 2px 5px grey;
    position: relative;
}

.bars {
    position: absolute;
    top: 25px;
    right: .5em; // margin: .5em;
    font-size: 35px;
    color: $secondary;
}

.header {
    &-logo {
        height: 55px; // width: 24px;
        // margin: auto; // border: red 1px solid;
        i {
            color: $secondary;
            margin-top: 28px;
            font-size: 40px;
            margin-left: 0.6em;
        }
    }
}

.bar-nav nav ul li {
    // float: right;
    list-style: none;
    color: black;
    height: 50px;
    width:100%;
    a {
        height: 50px;
        display:block;
        line-height: 50px;
        // padding: 0 20px;
        color: black;
        text-decoration: none;
        text-align: center;
    }
}

.bar-nav nav.active {
    left:0;
}

.bar-nav nav {
    padding:0;
    ul {
        padding:0;
    }
}

.bar-nav {
    position: absolute;
    z-index: 100;
    background-color: white;
    width:100%;
    padding-bottom:270px;
    margin-top:5px;
    right: 100%;
}

no-overflow {
    overflow: hidden;
}

.bar-nav nav ul li a:hover,.bar-nav nav ul li a:active {
    color:pink;
    background:blue;
}

.menu-toggle {
    color: $secondary;
    float:right;
    line-height:50px;
}



#index {
    background-color: #fff;
}


.header-search input[type=text]:focus {
    outline: none;
}

.header-search input[type=text] {
    display: block;
    border: #fff solid;
    flex: 0 0 70%;
    line-height: 25px;
    font-size: 18px;
    padding-left: 0.2em;
}

.header-search {
    display: flex;
    margin: auto;
    margin-top: 10px;
    background-color: white;
    border-radius: 3px;
    width: 90%;
    padding: 3px;
    margin-bottom: 1em;
    a>i {
        font-size: 27px;
        margin: 2px;
        color: $gray-600;
    }
}