.header {
    height: 124px;
    background-color: $dark;
    width: 100%;
}

.header {
    &-logo {
        height: 55px;
        width: 24px;
        margin: auto; // border: red 1px solid;
        i {
            color: pink;
            padding-top: 13px;
            font-size: 40px
        }
    }
}

.header-search input[type=text]:focus {
    outline: none;
}

.header-search input[type=text] {
    display: block;
    border: #fff solid;
    flex: 0 0 70%;
    line-height: 25px;
    font-size: 18px;
    padding-left: 0.2em;
}

.header-search {
    display: flex;
    margin: auto;
    margin-top: 10px;
    background-color: white;
    border-radius: 3px;
    width: 90%;
    padding: 3px;
    a>i {
        font-size: 27px;
        margin: 2px;
        color: $gray-600;
    }
}