/*All devices and mobile phone*/
.layer3{
	position: absolute;
	top:0;
	left:0;
	height:100vh;
	width:100vw;
	padding-bottom:4em;
	z-index:3;
	opacity:0;

	.back-arrow{
		margin: 1em;

		i{
			font-size:1.5em;
			color:$dark;
		}
	}

	.venue-title{
		margin-top: 1.5em;
		padding:0 1em;
		height:7em;
		display: flex;
		justify-content:space-between;
		box-shadow:0px 4px 10px -5px rgba(0,0,0,0.5);

		.text{
			flex:0 0 65%;
			display: flex;
			flex-direction:column;
			justify-content:center;

			h1{
				font-family: $font1;
				font-size:0.8em;
				font-weight:600;
				text-transform: uppercase;
				letter-spacing: 2px;
				color:$dark;
			}	

			h2{
				font-family: $font1;
				font-size:0.7em;
				text-transform: uppercase;
				letter-spacing: 2px;
				color:$dark;
			}


		}

		.direction{
			flex:0 0 25%;
			display:flex;
			flex-direction:column;
			justify-content:center;
			align-content:center;
			text-align: center;

			i{
				font-size:2em;
				color:$pink;
				padding-bottom:0.3em;
			}
			h2{
				font-family: $font1;
				font-size:0.7em;
				text-transform: uppercase;
				letter-spacing: 2px;
				color:$pink;
			}
		}
		
	}

	.venue-info{
		margin:0 1em;

		.address{
			margin-top:2em;
			display:flex;
			align-items:center;
			i{
				color:$blue;
				padding-right:1em;

			}
			p{
				color:$dark;
				font-family: $font2;
				font-size:0.7em;
				text-decoration: none;
				margin:0 0;			
			}
		}
		.opening-hours{
			margin-top:1.5em;
			display:flex;
			align-items:center;
			i{
				color:$orange;
				padding-right:1em;

			}
			p{
				color:$dark;
				font-family: $font2;
				font-size:0.7em;
				text-decoration: none;
				margin:0 0;			
			}
		}
		.phone{
			margin-top:1.5em;
			display:flex;
			align-items:center;
			i{
				color:$purple;
				padding-right:1em;

			}
			p{
				color:$dark;
				font-family: $font2;
				font-size:0.7em;
				text-decoration: none;
				margin:0 0;			
			}
		}
		.website{
			margin-top:1.5em;
			display:flex;
			align-items:center;
			i{
				color:$pink;
				padding-right:1em;

			}
			a{
				display: block;
				color:$dark !important;
				font-family: $font2;
				font-size:0.7em;
				text-decoration: underline;
			}
		}
		.save{
			margin-top: 3em;
			text-align:center;
			
			a{
				padding:1em;
				color:$light;
				font-family: $font1;
				text-transform: uppercase;
				letter-spacing:2px;
				font-size:0.8em;
				background: $pink;
				
				i{
					padding-right:0.5em;
				}
			}
		}
		
	}
}

/*for small tablet - inclusive*/

@media only screen and (min-width : 40em) {
	.layer3{
		.back-arrow{
			i{
				font-size:2em;
			}
		}

		.venue-title{
			display:flex;
			justify-content:center;
			font-size:1.5em;


			.text{
				padding-left: 2em;
			}
		}

		.venue-info{
			width:80%;
			margin:auto;
			font-size:1.5em;
		}
	}
}


/*for tablet - inclusive*/

@media only screen and (min-width : 60em) {
}



/*for destop - inclusive*/

@media only screen and (min-width : 80em) {
	.layer3{
		
		.venue-title{
			height:10em;
			flex-direction:column;
			justify-content:space-around;
			align-items:center;
			text-align:center;
			

			.text{
				flex:0 0 45%;
				padding:0;
			}
			.direction{
				flex:0 0 45%;
			}
		}

		.venue-info{
			width:50%;
			
			.address{
				justify-content:center;
			}
			.opening-hours{
				justify-content:center;
			}
			.phone{
				justify-content:center;
			}
			.website{
				justify-content:center;
			}
		}
	}
}