.layer2{
	position: absolute;
	top:0;
	left:0;
	height:100vh;
	width:100vw;
	z-index:2;
	opacity:0;

	#map{
		height:100%;
		position: relative;
		z-index: 10;

		.leaflet-control-zoom{
			display: none;
		}
	}

	.filter-tabs{
		width:2em;
		height:100%;
		// background-color: $light;
		position: absolute;
		top: 0;
		left: 0;
		z-index:20;
		display: flex;
		flex-direction:column;
		align-content:center;
		justify-content:center;
		align-items:center;
		list-style-type: none;
		padding:0;
	
		li{
			flex:0 0 5%;
			display:flex;
			flex-direction:column;
			justify-content:center;
			width:100%;
			text-align: center;

			i{
				color:$light;
			}
		}
		li:nth-of-type(1){
			background-color: $purple;
		}
		li:nth-of-type(2){
			background-color: $blue;
		}
		li:nth-of-type(3){
			background-color: $lightblue;
		}
		li:nth-of-type(4){
			background-color: $orange;
		}
		li:nth-of-type(5){
			background-color: $yellow;
		}
		li:nth-of-type(6){
			background-color: $pink;
		}
	}
	.modal{
		width:100%;
		height:7em;
		background-color: $light;
		box-shadow: 0px -1px 5px -1px rgba(0,0,0,0.4);
		position:absolute;
		top:auto;
		bottom: 2.5em;
		left:0;
		z-index:21;

		.modal-content{
			border:none;
			background-color: transparent;
			
			.modal-header{
				padding: 0;
				padding-left:0.5em;
				border:none;
				background-color: transparent;

				.modal-title{
					font-family: $font1;
					font-size:0.8em;
					text-transform: uppercase;
					letter-spacing: 2px;
					color:$dark;
				}
			}
			.modal-body{
				p{
					font-family: $font2;
					font-size:0.8em;
					color:$dark;
				}
			}
			.modal-footer{
				border:none;
			}
			
		}

	}

}

.modal-backdrop{
	display:none;
}