.layer2{
	position: absolute;
	top:0;
	left:0;
	height:100vh;
	width:100vw;
	z-index:2;
	opacity:0;
	#map{
		height:100%;
		position: relative;
		z-index: 10;
		.leaflet-control-zoom{
			display: none;
		}
	}
	.filter-tabs{
		width:2em;
		height:100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index:20;
		display: flex;
		flex-direction:column;
		align-content:center;
		justify-content:center;
		align-items:center;
		list-style-type: none;
		padding:0;
		li{
			flex:0 0 5%;
			display:flex;
			flex-direction:column;
			justify-content:center;
			width:100%;
			text-align: center;
			i{
				color:$light;
				text-align: center;
			}
		}
		li:nth-of-type(1){
			background-color: $purple;
		}
		li:nth-of-type(2){
			background-color: $blue;
		}
		li:nth-of-type(3){
			background-color: $lightblue;
		}
		li:nth-of-type(4){
			background-color: $orange;
		}
		li:nth-of-type(5){
			background-color: $yellow;
		}
		li:nth-of-type(6){
			background-color: $pink;
		}
	}
	.modal{
		width:100%;
		height:8.5em;
		background-color: $light;
		box-shadow: -2px -1px 5px -1px rgba(0,0,0,0.4);
		position:absolute;
		top:auto;
		bottom: 2.5em;
		left:0;
		z-index:21;
		.modal-content{
			border:none;
			background-color: transparent;
			padding: 0.5em;
			.modal-header{
				padding: 0;
				border:none;
				background-color: transparent;
				.modal-title{
					font-family: $font1;
					font-size:0.8em;
					font-weight:600;
					text-transform: uppercase;
					letter-spacing: 2px;
					color:$dark;
				}
				.close{
					margin: 0;
					padding: 0;
					font-size:1.5em;
					line-height:70%;
				}
			}
			.modal-body{
				padding:0;
				padding-top: 0.5em;
				p{
					font-family: $font2;
					font-size:0.8em;
					color:$dark;
					text-decoration: none;
					margin:0;
				}
			}
			.modal-footer{
				border:none;
				justify-content:flex-start;
				padding: 0;
				padding-top:1em;
				button{
					font-family: $font1;
					text-transform: uppercase;
					font-size:0.8em;
					border:none;
					padding:0.5em;
					width:80px;
					color:$light;
					letter-spacing:1px;
					background: linear-gradient(to bottom right, $pink, $orange);
					outline:none;
				}
			}			
		}
	}
}
.modal-backdrop{
	display:none;
}