.layer3{
	position: absolute;
	top:0;
	left:0;
	height:100vh;
	width:100vw;
	padding-bottom:4em;
	z-index:3;
	opacity:0;

	.back-arrow{
		margin: 1em;
		i{
			font-size:1.5em;
		}
	}

	.venue-title{
		margin-top: 1.5em;
		padding:0 1em;
		height:7em;
		display: flex;
		justify-content:space-between;
		box-shadow:0px 4px 10px -5px rgba(0,0,0,0.5);

		.text{
			flex:0 0 65%;
			display: flex;
			flex-direction:column;
			justify-content:center;

			h1{
				font-family: $font1;
				font-size:0.8em;
				font-weight:600;
				text-transform: uppercase;
				letter-spacing: 2px;
				color:$dark;
			}	

			h2{
				font-family: $font1;
				font-size:0.7em;
				text-transform: uppercase;
				letter-spacing: 2px;
				color:$dark;
			}


		}

		.direction{
			flex:0 0 25%;
			display:flex;
			flex-direction:column;
			justify-content:center;
			align-content:center;
			text-align: center;

			i{
				font-size:2em;
				color:$pink;
				padding-bottom:0.3em;
			}
			h2{
				font-family: $font1;
				font-size:0.7em;
				// font-weight:600;
				text-transform: uppercase;
				letter-spacing: 2px;
				color:$pink;
			}
		}
		
	}
}