body{
	position: relative;
}

.layer1{
	position: absolute;
	top:0;
	left:0;
	padding-top: 6em;
	padding-bottom:4em;
	height:100vh;
	z-index:1;
	opacity: 0;

	.search{
		display:flex;
		justify-content:center;

		form{
			position:relative;
			width:80%;
			border-bottom: 1px solid $dark;

			input{
				width:100%;
				border-style: none;

			}
			
			input[type=text]{
				padding-left:1.5em;
				font-family: $font1;
				font-size: 0.8em;
			}

			input[type=text]:focus {
				outline: none;
			}

			i{
				position: absolute;
				bottom: 4px;
				left:0;
				color:$dark;
			}
		}
	}

	.category-block{
	    height:30em;
	    display: flex;
	    align-items:center;
	    align-content:flex-end;
	    padding-top: 2em;
	    overflow: hidden;

	    .categories {
		    width: 100%;
		    margin:auto;
		    padding:0;
		    display: flex;
		    flex-wrap:wrap;
		    justify-content:space-around;
		    align-items:center;
	    

	        .category-item {
	            flex: 0 0 40%;
	            width: 100%;
	            height: 100%;
	            padding-bottom:2em;
	            text-align: center;
	            list-style-type: none;
	            
	            p{
	                color: $dark;
	                text-transform: uppercase;   
	                font-family: $font1;
	                font-size:0.8em;
	                // font-weight:300;
	                letter-spacing: 0.1em;
	                text-decoration: none;
	            }

	            i{
	               font-size: 2.5em;
	               color:$pink;
	            }
	        }
	    }
	}

}