#map {
    height: 100vh;
    position: relative;
}

// .map-wrapper {
// 	position: relative;
// }
.navi-fixed {
    z-index: 1000;
}

.mapheader {
    height: 120px;
    background-color: $secondary;
    display: flex;
    z-index: 1000;
    top:0;
    i {
        color: #fff;
    }
}

.custom-popup{
	border:thin salmon solid;
}

.icons {
    // border:1px red solid;
    li {
        // border:1px green solid;
        display: block;
        width: 1em;
    }
}

.modal-header {
    background-color:$secondary;
    border: none;
    h5 {
        color:#fff;
    }
}

.modal {
    top:10%;
}

.modal-body>p {
    color:$secondary !important;
}

.modal-body {
    padding: 0;
}

#mapform {
    z-index: 1000;
    background-color: transparent;
    position: absolute;
    top: 2%;
    left: 12%;
    width: 300px;
}

.maphtml {
    background-color: white;
}

.hide {
    display: none;
}


/*tablet */

@media only screen and (min-width: 60em) {}


/*destop*/

@media only screen and (min-width: 80em) {

    .venue-container {
        background-color: white;
    }

    * {
        margin: 0;
    }

    form {
        z-index: 1000;
        background-color: transparent;
        position: absolute;
        top: 2%;
        left: 2%;
        width: 300px;
    }

    .navi-fixed {
        display: none;
    }


    .mapwrap {
        display: flex;
    }

    .mapwrap>div {
        flex: 0 0 50%;
    }

    #map {
        height: 100vh;
    }
}