#map {
    height: 100vh;
    position: relative;
}

.navi-fixed {
    z-index: 1000;
}

.mapheader {
    height: 120px;
    background-color: $secondary;
    display: flex;
    z-index: 1000;
    position: fixed;
    top: 0;
    i {
        color: #fff;
        margin-top: 20px;
        font-size: 40px;
    }
}

.mh-logo {
    margin: 1em;
}

.venue-info {
    margin: 1em;
}

.address, .contact, .website {
    display: flex;
    &-logo {
        flex: 0 0 25%;
        text-align: center;
        transform: translateY(15%);
        i {
            font-size: 1.8em;
        }
    }
}

.venue-location, .venue-contact, .venue-website {
    width: 90%;
    margin:0.5em;
}

h6 {
    margin-top: 5px;
}

.header-text {
    margin: 1em;
    margin-left: 2em;
    color: #fff;
}

.custom-popup {
    border: thin salmon solid;
}

.icons {
    // border:1px red solid;
    li {
        // border:1px green solid;
        display: block;
        width: 1em;
    }
}

.modal-header {
    background-color: $secondary;
    border: none;
    h5 {
        color: #fff;
    }
}

.modal {
    top: 10%;
}

.modal-body>p {
    color: $secondary !important;
}

.modal-body {
    padding: 0;
}

#mapform {
    z-index: 1000;
    background-color: transparent;
    position: absolute;
    top: 2%;
    left: 12%;
    width: 300px;
}

.maphtml {
    background-color: white;
}

.hide {
    display: none;
}



/*tablet */

@media only screen and (min-width: 60em) {}



/*destop*/

@media only screen and (min-width: 80em) {
}