#map{
	height: 70vh;
}

.popup-name{
	margin-bottom: 0;
}

.popup-category{
	font-size: 1em;
	color: black;
	text-decoration: none;
	margin: 0 !important;
	line-height: 1;
}

.btn-info{
	line-height: .5em;
	height: 1.5em;
	font-size: 1.2em;
}

.leaflet-popup-content{
	width: 50vw !important;
	// height: 20vh;
}