#map{
	height: 100vh;
	position: relative;
}
// .map-wrapper {
// 	position: relative;
// }

.navi-fixed {
	z-index:1000;
}

.icons{
	// border:1px red solid;
	li{
		// border:1px green solid;
		display: block;
		width: 1em;
	}
}

form {
	z-index: 1000;
	background-color: transparent;
	position: absolute;
	top:1%;
	left: 12%;
	width:300px;
}

.maphtml {
	background-color: white;
}

.hide {
	display: none;
}