/*All devices and mobile phone*/
.navigation{
	width:100vw;
	height:2.5em;
	background-color: $white;
	position:fixed;
	bottom:0;
	box-shadow: 0px -1px 5px -1px rgba(0,0,0,0.4);
	z-index: 100;

	.icons{
		margin:0;
		padding:0;
		height:100%;
		width:100%;
		display: flex;
		justify-content:space-around;
		align-items:center;
		list-style-type: none;


		li{
			flex:0 0 25%;
			text-align: center;
			
			i{
				display:block;
				color:$dark;
				font-size:1.4em;
				//-webkit-background-clip: text;
  				//-webkit-text-fill-color: transparent;
  				line-height: normal;
			
			}

			.active{
				color:$pink;
			}
				
				
		}
	}

}




/*for small tablet - inclusive*/

@media only screen and (min-width : 40em) {
}


/*for tablet - inclusive*/

@media only screen and (min-width : 60em) {
}



/*for destop - inclusive*/

@media only screen and (min-width : 80em) {
}

