<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pinned - Auckland</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600|Open+Sans:400,400i,600,600i" rel="stylesheet">
	<link rel="stylesheet" href="assets/fontawesome-pro-5.3.1-web/css/all.css">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />
	<link rel="stylesheet" href="css/styles.css">

</head>

<body>
	<div class="app">
		<div class="header">
			<div class="header-logo">
				<img src="assets/images/pinlogo.png" alt="">
			</div>			
		</div>

		<div class="layer1" :class="{current: currentLayer=='layer1'}">
			<div class="search">
				<form id="search-form" @submit.prevent="searchVenues">
					<input type="text" name="search" id="search" placeholder="Search" v-model:value="keyword">
					<i class="fal fa-search"></i>
				</form>
			</div>
			
			<div class="category-block">
				<ul class="categories">
					<li class="category-item">
						<i class="fal fa-utensils" data-filter="food" data-selected="no"></i>
						<p>food & drink</p>
					</li>
					<li class="category-item">
						<i class="fal fa-subway" data-filter="transport" data-selected="no"></i>
						<p>transport</p>
					</li>
					<li class="category-item">
						<i class="fal fa-bed" data-filter="accommodation" data-selected="no"></i>
						<p>accommodation</p>
					</li>
					<li class="category-item">
						<i class="fal fa-shopping-bag" data-filter="shopping" data-selected="no"></i>
						<p>shopping</p>
					</li>
					<li class="category-item">
						<i class="fal fa-money-bill-wave" data-filter="banks" data-selected="no"></i>
						<p>banks & atms</p>
					</li>
					<li class="category-item">
						<i class="fal fa-ticket" data-filter="activities" data-selected="no"></i>
						<p>activities</p>
					</li>
				</ul>
			</div>
		</div>

		<div class="layer2" :class="{current: currentLayer=='layer2'}">
			<div id="map">
				
			</div>
			<ul class="filter-tabs">
				<li><i class="fal fa-utensils" data-filter="food" data-selected="no"></i></li>
				<li><i class="fal fa-subway" data-filter="transport" data-selected="no"></i></li>
				<li><i class="fal fa-bed" data-filter="accommodation" data-selected="no"></i></li>
				<li><i class="fal fa-shopping-bag" data-filter="shopping" data-selected="no"></i></li>
				<li><i class="fal fa-money-bill-wave" data-filter="banks" data-selected="no"></i></li>
				<li><i class="fal fa-ticket" data-filter="activities" data-selected="no"></i></li>
			</ul>
			<div class="modal" id="venueModal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">{{currentVenue.name}}</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p v-if="currentVenue.location">{{currentVenue.location.formattedAddress.join(', ')}}</p>
						</div>
						<div class="modal-footer">
							<button>more</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="layer3" :class="{current: currentLayer=='layer3'}">
			<div class="back-arrow">
				<i class="fal fa-arrow-left"></i>
			</div>
			<div class="venue-title" v-if="currentVenue.name">
				<div class="text">
					<h1>{{currentVenue.name}}</h1>
					<h2>{{currentVenue.categories[0].name}} &#183; <i class="far fa-walking"></i> 6 min</h2>
					<h2>{{currentVenue.likes.summary}}</h2>
				</div>
				<div class="direction">
					<i class="fal fa-directions" :data-lat="currentVenue.location.lat" :data-lng="currentVenue.location.lng" @click="showDirections"></i>
					<h2>directions</h2>
				</div>
			</div>
			<div class="venue-info" v-if="currentVenue.name">
				<div class="address" v-if="currentVenue.location">
					<i class="fal fa-map-marker-alt"></i>
					<p>{{currentVenue.location.formattedAddress.join(', ')}}</p>
				</div>
				<div class="opening-hours" v-if="currentVenue.hours">
					<i class="fal fa-clock"></i>
					<p>{{currentVenue.hours.status}} &#183; {{currentVenue.hours.timeframes["0"].days}} {{currentVenue.hours.timeframes["0"].open["0"].renderedTime}}</p>
				</div>
				<div class="phone" v-if="currentVenue.contact.formattedPhone">
					<i class="fal fa-phone"></i>
					<p>{{currentVenue.contact.formattedPhone}}</p>
				</div>
				<div class="website" v-if="currentVenue.url">
					<i class="fal fa-link"></i>
					<a :href="currentVenue.url" target="_blank">{{currentVenue.url}}</a>
				</div>
				<div class="save">
					<a href="#"><i class="fal fa-plus"></i>save venue</a>
				</div>
			</div>
		</div>

		<div class="layer4" :class="{current: currentLayer=='layer4'}">
			<div class="text">
				<h1>oops...</h1>
				<h2>Looks like you don't have an account with us</h2>
				<a href="#" class="to-layer5" :class="{current: currentLayer=='layer5'}">Sign Up</a>
			</div>
			
		</div>

		<div class="layer5" :class="{current: currentLayer=='layer5'}">
			<div class="sign-in">
				<h1>sign in</h1>
				<label for="inputEmail" class="sr-only"><i class="fal fa-user"></i></label>
				<input type="email" id="inputEmail" placeholder="Email address" required autofocus>
				<label for="inputPassword" class="sr-only"></label>
				<input type="password" id="inputPassword" placeholder="Password" required>
				<a href="#">Forgot Password?</a>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			</div>

			<div class="social-login">
				<div class="google-button">
					<button><img src="assets/images/google.png" alt="">Sign in with google</button>
				</div>
				<div class="facebook-button">
					<button><img src="assets/images/facebook.png" alt="">Sign in with facebook</button>
				</div>
			</div>

			<div class="no-account">
				<p>Don't have an account?<a href="#"> Sign up</a></p>
			</div>
		</div>

		<div class="navigation">
			<ul class="icons">
				<li><i :class="{active: currentLayer=='layer1'}" class="fal fa-search"></i></li>
				<li><i :class="{active: currentLayer=='layer2'}" class="fal fa-map-marker-alt"></i></li>
				<li><i :class="{active: currentLayer=='layer4'}" class="fal fa-heart"></i></li>
				<li><i :class="{active: currentLayer=='layer5'}" class="fal fa-user"></i></li>
			</ul>
		</div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/template7/1.4.0/template7.min.js"></script>
	<script src="assets/underscore.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="assets/script.js"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUR4s8FmdvbyscmmaqZeDc37WApsA2WcI&callback=initMap"></script>
</body>

</html>