*{
	margin:0;
}


.wrapper{
	display: flex;
}

.wrapper>div{
	flex:0 0 50%;
}

.left{
	padding:1em;
	box-sizing: border-box;
}
#map{
	height: 100vh;

}

.bus-stop{
	background-color: salmon;
	border-radius: 5px;
	display: flex;
}

.bus-stop>div:nth-child(1){
	flex: 0 0 30px;
	height: 30px;
	background-image:url(bus.svg);
	background-size:contain;

}

.bus-stop>div:nth-child(2){
	flex: 1 0 0;
	font-size: 10px;
	color:white;

}
.custom-popup{
	border:thin salmon solid;
}





